<html>
<body>
<form action="/getData/" method="POST">
{% csrf_token %}
<p>
<input type = "hidden" id = "qno" name = "qno" value = "{{qno}}"><br>
<a>{{qno}}</a>
<input type="text" id="questio1" name="question" placeholder = "Question"><br><br>
<input type="text" id="option1" name="option1" placeholder = "option"><br><br>
<input type="text" id="option2" name="option2" placeholder = "option"><br><br>
<input type="text" id="option3" name="option3" placeholder = "option"><br><br>
<input type="text" id="option4" name="option4" placeholder = "option"><br><br>
<input type="text" id="answer" name="answer" placeholder = "answer"><br><br>    
<input type="submit" value="next" name="submit" >
</p>

</body>
</html>